.section-title {
  margin-top: 4rem;
  padding-bottom: 1.25rem;
}

.section-content {
  padding: 1.25rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-not-found-post {
  margin: 100px 0;
}

// Style Dropdown menu
.dropdown {
  position: relative;

  .tooltip {
    position: absolute;
    will-change: transform;
    top: -207px;
    left: -185px;
    transform: translate3d(147px, 206px, 0px);

    &-content {
      background-color: white;
      border-radius: 0.25rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      ul {
        list-style: none;
        list-style-image: none;
        display: flex;
        align-items: start;
        flex-direction: column;
        padding: 8px 0px;
        li {
          display: block;
          padding: 8px 20px;
          cursor: pointer;
          &:hover {
            color: #000;
          }
          span {
            font-size: 0.9875rem;
            line-height: 20px;
          }
        }
      }
    }
  }
  .tooltip:before {
    content: '';
    height: 20px;
    position: absolute;
    margin-left: -44px;
    left: 97px;
    bottom: 85px;
    z-index: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.54) 1px 1px 1px -1px;
    clip: rect(0px, 18px, 18px, -4px);
    transform: rotate(45deg);
  }
}

// End style dropdown menu
