@-webkit-keyframes k1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes k1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes k1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes k2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes k2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes k2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes k3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes k3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes k3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes k4 {
  0% {
    opacity: 0;
  }
  25% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes k4 {
  0% {
    opacity: 0;
  }
  25% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes k4 {
  0% {
    opacity: 0;
  }
  25% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes k5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes k5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes k5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes k6 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
@-moz-keyframes k6 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
@keyframes k6 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
