.tabs {
  margin-bottom: 0rem !important;
  li.is-active {
    padding-left: 0;
    padding-right: 1.25em;
    a {
      padding-left: 0;
      padding-right: 0;
      color: $dark;
      border-bottom-color: $dark;
      &:hover {
        padding-left: 0;
        padding-right: 0;
        color: $dark;
        border-bottom-color: $dark;
      }
    }
  }
  ul {
    border-bottom-color: $tabs_border-bottom-color;
  }
  li {
    a {
      color: $grey;
      padding-left: 0;
      padding-right: 1.25em;
      border-bottom-color: transparent;
      &:hover {
        color: $dark;
        border-bottom-color: transparent;
      }
    }
  }
}
