//navbar
$navbar-box-shadow-size: 0 10px 0 0;
$navbar-height: 4.1rem;

//color
$primary: #03a87c;
$primary-light: #fef6e1;
$danger: #cc5454;
$dark: #2e2e2e;
$border-grey: 1px solid #cbcbcb;
$blue: #3aa1ff;
$green: #2fd398;
$success: #00ca99;
$grey: #0000008a;
$box-border: #0000001a;
$black: #000000;
$white: #ffffff;

//border-bottom tabs
$tabs_border-bottom-color: rgba(0, 0, 0, 0.1);

//box
$box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
$box-radius: 5px;

//modal
$modal-background-background-color: rgba(255, 255, 255, 0.95);
